h2 {
  text-align: center;
}
.formContainer {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 20rem;
  & div {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    & label {
      margin: 0.5rem 0;
    }
    & input {
      width: 15rem;
    }
  }

  & button {
    width: 7rem;
  }
}
