<!-- <app-public-header></app-public-header> -->
<h2>Login</h2>
<div class="formContainer">
  <form #loginForm="ngForm" (ngSubmit)="enterLogin()">
    <div>
      <label>Username: </label>
      <input #username="ngModel" name="username" [(ngModel)]="service.dataUser.username" required />
    </div>
    <div *ngIf="username.invalid && username.touched" class="warning">
      Este campo es obligatorio.
    </div>
    <div>
      <label>Password: </label>
      <input #password="ngModel" name="password" [(ngModel)]="service.dataUser.password" required minlength="8">
    </div>
    <div *ngIf="password.invalid && password.touched" class="warning">
      Este campo es obligatorio y con un mínimo de 8 caracteres.
    </div>

    <div *ngIf="loginErrorMessage" class="warning">
      Username o password incorrect. Remember that they are master8@lemoncode.net and 12345678.
    </div>
    <button type="submit">Login</button>
  </form>
</div>
