<h2>El mejor pueblo de Málaga</h2>
<div class="photosContainer">
  <div class="photoList">
    <button (click)="previusPage()"> &lt;&lt; Previus page</button>
    <div class="photo" [ngClass]="{'active':photo.id === this.photoSelected.id}"
      *ngFor="let photo of photosArray|slice:(page-1)*3:((page-1)*3)+3">
      <span>{{photo.title}}</span>
      <img id="{{photo.id}}" (click)="getPhotoSelected($event)" appHighlight src="../../assets/{{photo.src}}"
        alt="{{photo.title}}">
    </div>
    <button (click)="nextPage()">Next page >></button>
  </div>
  <div class="control">
    <div class="buttonControl">
      <button [disabled]="this.photoIndex === 0" (click)="getPreviusImg()"> Previous</button>
      <button [disabled]="this.photoIndex === this.photosArray.length-1" (click)="getNextImg()">Next</button>
      <button (click)="increaseImage()">Increase</button>
      <button (click)="decreaseImage()"> Decrease</button>
      <button *ngIf="this.isPlayed" (click)="playPhotos()">Play</button>
      <button *ngIf="!this.isPlayed" (click)="stopPlayPhotos()">Stop</button>
    </div>
    <div [ngStyle]="{'width': width + 'rem'}" class="photoSelected">
      <img src="../../assets/{{photoSelected.src}}" alt="">
    </div>
  </div>
</div>
