.container {
  display: grid;
  flex-direction: column;
  min-height: 100vh;
  grid-template-rows: 10rem 4rem auto 3rem;
}

.headerPage {
  display: flex;
  align-items: center;
}

.footerPage {
  position: relative;
  bottom: 0;
  width: 75vw;
}
